ul ul, ol ul, ul ol, ol ol {
margin: 0 0 10px 25px;
}

/* FULL WIDTH CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 30px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -192px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 45vw;
  background-color: #777;
}
/*
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
*/

.header{
	position: relative;
	z-index: 1000;
}


/* CONTAINER CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
  #carousel-contained .carousel {
  margin-bottom: 30px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#carousel-contained .carousel .item {
  height: 300px;
  background-color: #777;
}
#carousel-contained .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /* height: 500px; */
}
/* Carousel Fader 
------------------- */
/*
.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
}

.carousel.carousel-fade .active.item {
	opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
	left: 0;
	z-index: 1;
}

.carousel.carousel-fade .carousel-control {
	z-index: 3;
}
*/

.header img.logo{
	margin: 10px 0 10px 0;
}
.footer {
	min-height: 260px;
	margin-top: 35px;
	background-color: #252528;
	color: white;
	padding-top: 35px;
/* 	width: 100%; */
}
.footer .post img {
float: left;
margin-right: 20px;
}
.footer .post {
margin-bottom: 70px;
width: 93%;
}
.spacer{
	width: 100%;
	padding: 15px;
	clear: both;
}
html, body {
    overflow-x: hidden;
}


/* Site Header Styles */
.header{
	position:fixed;
	left:0px;
	right:0px;
	margin:inherit auto;
	
}
.navbar{
	margin:0px;
	border: none;
	background-color: rgba(0,0,0,.8);
}
.navbar-toggle{
	background-color: #356187;
	border:2px;
}
.navbar-toggle:hover, .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-toggle::before{
	content: "Navigation Menu";
	color:white;
	position:absolute;
	right:10px;
	width:200px;
}
.navbar-collapse{
	border: none;
	box-shadow:none;
}
@media (min-width: 768px){
	.header{
			height:140px;
	}
}
@media (min-width: 992px){
	.header{
		height:120px;
	}
}
/* Site Header Styles End */

/* Page Big Intro Styles */
@media (min-width: 768px){
	.page-intro{
		margin-top: -140px;
	}
}
@media (min-width: 992px){
	.page-intro{
		margin-top: -120px;
	}
}
.page-intro{
	height: calc((100vw / 8) * 3);
	overflow:hidden;
	position: relative;
	margin-bottom: 30px;
}
.page-intro img{
	position:relative;
	width: 100%;
	height: auto;
	z-index:-1;
}
.page-intro-info{
	background-color: rgba(0,0,0,.8);
	position: absolute;
	bottom: 30px;
	left: 0px;
	right:0px;
	margin: 0px auto;
	border-radius: 4px;
	z-index: 1;
}
.page-headline{
	color: white;
	text-shadow: 2px 2px 4px rgba(240,240,240,.5);
	text-align:center;
}
.page-tagline{
	color: white;
	text-align:center
}
/* Page Big Intro Styles End */

/* Vertical Align with Bootstrap Sizing */
.vertical-center-xs{
	height: 100%;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

@media (min-width: 768px){
	.vertical-center-sm{
		height: 100%;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}
@media (min-width: 992px){
	.vertical-center-md{
		height: 100%;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}
@media (min-width: 1200px;){
	.vertical-center-lg{
		height: 100%;
		display: -webkit-flex;
		display:         flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}
}
/* Vertical Align with Bootstrap Sizing End */